$serif-font:			"Literata",serif !default;
$sans-font:				"Adelle Sans",sans-serif !default;
$mono-font:				"Lft-Etica-Mono",monospace !default;
$japanese-font:			"Noto Sans JP",sans-serif !default;
$body-font:				$serif-font !default;
$heading-font:			$sans-font !default;
$serif-heading-font:	$serif-font !default;
$sidenotes-font:		$serif-font !default;
$marginnotes-font:		$sans-font !default;
$vita-font:				$serif-font !default;

// Font Sizes 
$base-size:				16px !default;
$body-size:				1rem !default;
$small-size:			.9rem !default;
$smaller-size:			.8rem !default;
$smallest-size:			.7rem !default;
$tiny-size:				.6rem !default;
$micro-size:			.5rem !default;
$nano-size:				.4rem !default;
$large-size:			1.2rem !default;
$larger-size:			1.4rem !default;
$largest-size:			1.7rem !default;
$huge-size:				2rem !default;
$title-size:			3rem !default;
$subtitle-size:			2.5rem !default;
$h1:					2.5rem !default;
$h2:					2rem !default;
$h3:					1.7rem !default;
$h4:					1.4rem !default;
$h5:					1.2rem !default;
$h6:					1.1rem !default;
$icons-large:			3rem !default;
$icons-medium:			2rem !default;
$icons-small:			1.5rem !default;
$contacticon-large:		3rem !default;
$contacticon-medium:	2rem !default;
$contacticon-small:		1.5rem !default;

// font weights
$black-weight:			900 !default;
$heavy-weight:			800 !default;
$bold-weight:			700 !default;
$medium-weight:			600 !default;
$book-weight:			500 !default;
$normal-weight:			400 !default;
$light-weight:			300 !default;
$extra-light-weight:	200 !default;
$thin-weight:			100 !default;

// line heights
$line-height:			1.3 !default;
$short-line-height:		1.2 !default;
$shorter-line-height:	1.1 !default;
$shortest-line-height:  1.1 !default;
$tall-line-height:		1.5 !default;
$taller-line-height:	1.7 !default;
$single-line-height:	1 !default;
$double-line-height:	2 !default;
$header-height:			56px;
$footer-height:			40px;

// COLORS

// Colors
$red:					#ff3636 !default;
$dull-red:				#8c2e24 !default;
$rose:					#f33a6a !default;
$pink:					#fcebec !default;

$orange:				#f29105 !default;
$deep-orange:			#973a05 !default;
$dull-orange:			#b16032 !default;

$yellow:				#efcc00 !default;
$pastel-yellow:			#fbe7c5 !default;
$cornsilk:				#fff8dc !default;
$ivory:					#fffff0 !default;

$green:					#00ab37 !default;
$dark-green:			#006400 !default;
$light-green:			#ddffdd !default;
$nyanza:				#ecffdc !default;
$pastel-green:			#e8f5df !default;

$blue:					#2698ba !default;
$dark-blue:				#00369f !default;
$bright-blue:			#3498db !default;
$bright-cyan:			#2ea4b0 !default;
$bright-navy:			#2e55b0 !default;
$pastel-blue:			#9fd2f7 !default;
$pastel-blue2:			#aae8fc !default;
$tar-heel-blue:			#4b9cd3 !default;
$hopkins-blue:			#002D72 !default;
$azure:					#f0ffff !default;
$aliceblue:				#f0f8ff !default;

$white:					#ffffff !default;
$off-white:				#fffff8 !default;
$floral-white:			#fffaf0 !default;

$black:					#000000 !default;
$off-black:				#191919 !default;

$grey:					#828282 !default;
$dark-grey:				#17202a !default;
$medium-grey:			#2c3e50 !default;
$grey20:				#333333 !default;
$light-grey:			#d5d8dc !default;
$lighter-grey:			#eeeeee !default;
$grey-green:			#424949 !default;
$platinum:				#ebe6e5 !default;
$gainsboro:				#dfd8dc !default;
$pastel-grey:			#d4cfbd !default;
$pastel-grey2:			#edeaf2 !default;


// Theme Colors 
$theme-color:			$dull-red !default;
$background-color:		$floral-white !default;
$text-color:			$off-black !default;
$contrast-color:		$dull-red !default;
$heading-color:			$dull-red !default;
$link-color:			$hopkins-blue !default;
$link-hover-color:		$tar-heel-blue !default;
$text-box-color:		$ivory !default;
$code-color:			$link-color !default;
$code-box-color:		$aliceblue !default;

// Button Colors (Bijou) 
$primary:				$theme-color !default;
$success:				$green !default;
$danger:				$red !default;

// Borders
$border-color:			$light-grey !default;
$border-width:			1px !default;
$border-radius:			3px !default;

// Viewport widths
$viewport-small:		600px;
$viewport-medium:		768px;
$viewport-large:		1000px;

// Breakpoints
$breakpoint-md:			'(min-width: 52em)';
$breakpoint-xl:			'(min-width: 96em)';

// Portfolio 
$img_spacing:			5px;
$img-height:			275px;
$caption-font-size:		$smaller-size;
$caption-color:			$off-black;

// Buttons
$button-font-size:		inherit !default;
$button-font-weight:	normal !default;
$button-line-height:	1.125rem !default;
$button-padding-y:		.5rem !default;
$button-padding-x:		1rem !default;
$button-font-family:	$sans-font;

// Forms
$form-field-font-size:	1rem !default;
$form-field-height:		2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

// max-width for header .site-nav hamburger menu
$on-palm:				799px !default;
$device:				799px !default;
